.footer {
  padding: 30px 0;
  background: $footer-bg;
  text-align: center;
}
  .copyright {
    margin: 0;
    color: #fff;
    font-size: 1.4rem;

    a {
      color: $impact-green;
      text-decoration: none;
    }
  }