.map {
  padding-top: 50px;
  padding-bottom: 70px;
  background: $map-bg;
  text-align: center;

  @media (min-width: 670px) {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
  .map h4 {
    color: #fff;
  }

  .map .button {
    padding: .5em 2em;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      background: #fff;
      color: $impact-green;
    }
  }

.filter-bar {
  padding: 25px 1em;
  background-color: #fff;
  color: $heading-dark;
  text-align: left;

  @media (min-width: 940px) {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
  .filter-chapters,
  .filter-zip,
  .filter-radius {
    display: inline-block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1em;
    vertical-align: top;
  }

  .filter-chapters,
  .filter-zip {
    margin-right: 2em;
  }

  .filter-zip {
    @media (min-width: 940px) {
      margin-right: 0;
    }
  }

    .filter-chapters select,
    .filter-zip input,
    .filter-radius select {
      display: block;
      background-color: #f0f0f0;
      border: 1px solid #cdcdcd;
      text-align: left;

      @media (min-width: 940px) {
        display: inline-block;
      }
    }

    .filter-chapters select {

      @media (min-width: 940px) {
        margin-left: 1em;
      }
    }

    .filter-zip input {
      margin-right: 1em;
      padding: .2em .3em;

      @media (min-width: 940px) {
        margin-left: .5em;
      }
    }

    .filter-radius select {
      
      @media (min-width: 940px) {
        margin-left: .3em;
      }
    }

    .filter-show {
      display: block;
      font-weight: 700;
    }