.map {
  padding-top: 50px;
  padding-bottom: 70px;
  background: $map-bg;
  text-align: center;

  @media (min-width: 670px) {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
  .map h4 {
    color: #fff;
  }

  .map .button {
    padding: .5em 2em;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      background: #fff;
      color: $impact-green;
    }
  }