.nav {

  @media (min-width: 900px) {
    padding-top: 32px;
    float: right;
  }
}
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    @media (min-width: 900px) {
      display: block;
    }

    &.is-visible {
      display: block;
      height: 100vh;
      width: 100%;
      position: absolute;
      left: 0;
      top: 100%;
      clear: left;
      background: rgba(48,62,72,.89);
      text-align: center;

      li {
        display: block;
        margin: 0;
      }
      a {
        display: block;
        padding: 1em 0;

        &:hover {
          background: #fff;
          color: rgba(48,62,72,.89);
        }
      }
    }
  }

  .nav li {
    display: inline-block;

    @media (min-width: 900px) {
      margin-right: 18px;

      &:last-of-type { margin-right: 0; }
    }

    @media (min-width: 950px) {
      margin-right: 23px;
    }

    @media (min-width: 1000px) {
      margin-right: 36px;
    }
  }

  .nav a {
    color: white;
    font-weight: 800;
    font-size: .875em;
    letter-spacing: .15em;
    text-decoration: none;
    text-transform: uppercase;

    transition: color .25s ease, background .25s ease;

    &:hover,
    &:focus {
      color: rgba(255,255,255,.75);
    }

    &:active {
      transform-origin: center;
      transform: scale(.95);
      transition: transform .1s linear;
    }

    @media (min-width: 1000px) {
      font-size: .9375em;
    }
  }

  .nav a.nav-toggle {
    display: block;
    position: absolute;
    top: 50%;
    right: 1em;
    font-size: .9375em;
    transform: translateY(-50%);
    cursor: pointer;

    span {
      font-family: Helvetica, sans-serif;
      -webkit-font-smoothing: none;
      font-smoothing: none;
    }

    @media (min-width: 900px) {
      display: none;
    }
  }