.testimonial {
  $t-pad: 40px;

  padding-top: $t-pad;
  padding-bottom: $t-pad;
  text-align: center;

  h4 {
    margin-top: 0;
    line-height: 1.5;
  }

  @media (min-width: 640px) {
    padding-top: $t-pad * 2;
    padding-bottom: $t-pad * 2;
  }

  img,
  video,
  iframe {
    display: block;
    max-width: 100%;
  }
}