::selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}


::-webkit-input-placeholder { color: rgba(255,255,255,.6); }

:-moz-placeholder { color: rgba(255,255,255,.6); }

::-moz-placeholder { color: rgba(255,255,255,.6); }

:-ms-input-placeholder { color: rgba(255,255,255,.6); }