.form-modal {
  padding: 2em;
  position: fixed;
  top: 50%; left: 50%;
  width: 100%;
  max-width: 500px;

  background-color: #fff;
  opacity: 0;
  pointer-events: none;

  box-shadow: 0 6px  12px rgba(0, 0, 0, 0.13), 0 10px 40px rgba(0, 0, 0, 0.09);

  transform: translate(-50%,-75%);
  transition: .25s ease;

  z-index: $zindex-base + 2;

  &.is-visible {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%,-50%);
  }

  h3 {
    margin-top: 0;
    margin-bottom: 1em;
    color: $impact-green;
    font-size: 2em;
    line-height: 1;
  }

  p {
    margin-top: .5em;
    margin-bottom: .5em;
    line-height: 1.5;
  }
}